# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\sentiment_classification_COVID-19-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
